<!-- start of container -->
<div class="container">
<div class="row">
    <div class="col-lg-12">
        <h3>{{Config.createflow.AddFollowUp}}</h3>
    </div>
</div>
<div class="row">
  <div class=" col-lg-11">
    <div class="input-group">
      <input type="text" class="form-control" id="aflow" [(ngModel)]="flowname" placeholder="Product name">
      <span class="input-group-btn">
        <button class="btn btn-secondary" id="flowbtn" (click)="follow(flowname)" type="button">{{Config.createflow.AddFollow}}</button>
      </span>
    </div>
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-4" *ngFor="let main of item;let i = index ">
        
    
            <div class="card" >
              <h3>{{main.task}}</h3>
              <p class="desc-text text-justify">
                {{Config.createflow.AddtheFollow}}
                
        
              </p>
              <ul class="controls">
        
                <li class="read"(click)="addconfig(main.task)" *ngIf = "!main.question">
                  <i class="fa fa-plus" ></i> 
                  <p class="text-a">{{Config.createflow.New}}</p>
                </li>
        
                <li class="views" (click)="editconfig(main.task)" *ngIf = "main.question">
                  <i class="fa fa-pencil-square-o" ></i>
                  <p class="text-a">{{Config.createflow.Edit}}</p>
                </li>   
              </ul>
            </div>
      
</div>
</div>
 