.app {
   background-image: url("../../img/background.png");
}
.btn-primary {
	background-color: #375372;
	border-color: #375372;
}
.message {
color:red; 
text-align: bottom;
font-size: 13px;
margin-left: 20px;
}

@media (min-width: 300px) and (max-width: 1204px) {
.d-md-down-none{
  display: inline !important;
}
 }
 @media (min-width: 300px) and (max-width: 1204px) {
 .btn{
      font-size: 0.820rem;
 }
}

@media (min-width:  300px) and (max-width: 1204px) {
.card-group .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
    float: right;
}
}
