<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h2>{{Config.setpassword.PasswordSign}}</h2>
             <form role="form" (ngSubmit)="onSubmit()" #resetForm="ngForm">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="btn input-group-addon" (click)=sendques(newQuestion)><i class="icon-lock"></i></div>
             <input [(ngModel)]="ref.password" type="password" name={{Config.setpassword.password}} class="form-control" id="inlineFormInputGroupUsername2" placeholder={{Config.setpassword.placeholderPass}} required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{5,}$" #password="ngModel">
             
           </div>
           <div [hidden]="password.valid || password.pristine" class="message">
        <div [hidden]="!password.hasError('minlength')">{{Config.setpassword.passValidationCharacter}}</div> 
        <div [hidden]="!password.hasError('required')"> {{Config.setpassword.passValidationRequire}}</div>
        <div [hidden]="!password.hasError('pattern')"> {{Config.setpassword.passValidationUpper}}</div>
      </div>
           <br>


           

              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="btn input-group-addon" (click)=sendques(newQuestion)><i class="icon-lock"></i></div>
             <input [(ngModel)]="ref.confirmpassword" type="password" name="confirmpassword"
             class="form-control" id="inlineFormInputGroupUsername2" placeholder={{Config.setpassword.confirmPassPlaceholder}} required #confirmPassword="ngModel">
             
           </div>
           <br>

              <div class="row">
                <div class="col-6">
                  <button id="setpass" class="btn btn-primary" [disabled]="!resetForm.form.valid" (click)="setPassword(ref)">{{Config.setpassword.link}}</button>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
