 <!-- reset password page for user -->
 <div class="container">
  <h2 id="c_heading" class="pi-draggable" draggable="true">{{Config.userResetPassword.resetHeading}}</h2>
  <hr>
  <br>
  <div  class="row m-y-2" >
     <div class="col-lg-3"> </div>
     <div class="col-lg-6"> 
     
     <form role="form">
      <div class="form-group row ">
       
        <div class="col-lg-12 input-group">
          <!-- name field -->
          <span class="input-group-addon"><i class="icon-lock"></i></span>
          <input type="password" name="email" class="form-control" id="oldpass" placeholder="Old Password"
          [(ngModel)]=oldpassword required="required">
        </div>
      </div>
      <div class="form-group row">
        
        <div class="col-lg-12 input-group ">
          <!-- email field -->
          <!-- <div class="form-group input-group">  -->
           <span class="input-group-addon"><i class="icon-lock"></i></span>   
            <input type="password"  placeholder="New Password" class="form-control" 
            id="newpass" required [(ngModel)]=newpassword name="password" pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$"
            #password="ngModel">
            <div [hidden]="password.valid || password.pristine"
            class="message">
            <div [hidden]="!password.hasError('minlength')">{{Config.signup.passwordcharacter}}</div> 
            <div [hidden]="!password.hasError('required')"> {{Config.signup.passwordrequire}}</div>
            <div [hidden]="!password.hasError('pattern')"> {{Config.signup.passwordcase}}</div>

         <!--  </div> -->
        </div> 
      </div>
    </div>

    <div class="form-group row" id="confirmpassword">
    
      <div class="col-lg-12 input-group">
        <!-- password field -->
         <span class="input-group-addon"><i class="icon-lock"></i></span>
        <input type="password" name="password" class="form-control" id="confpass"  placeholder="Confirm Password"
        [(ngModel)]=confirmpassword required="required">
      </div>
    </div>

    <div class="form-group row buttons">
      <!-- <label class="col-lg-3 col-form-label form-control-label"></label> -->
      <div class="col-lg-12">
        <!-- submit button -->
        <a id="c_button" name="sub" class="btn btn-primary pi-draggable" draggable="true"
        (click)=resentpassword()>{{Config.userResetPassword.savebtn}} </a>
        <a id="c_button" class="btn btn-primary pi-draggable" draggable="true"
        (click)=back()>{{Config.userResetPassword.backbtn}}</a>
      </div>
    </div>
  </form>
 </div> 
 <div class="col-lg-3"> </div>
</div>
</div>