.table td {
    border: 0px;
}

#c_button {
    background-color:#283e4a;
    border-color:#283e4a;
    color: white;
}


.message{
  color:red; 
  text-align: left;
  font-size: 13px;
  margin-left: 20px;
}

h2{
	text-align:center;
}

form {
	text-align: center;
	margin: 0 auto;
    display: inline-block;
   
   
}





