.btn {
     line-height:0.5;
}
.btn.btn-block {
    width:50%;
    padding:6px 1px;
    
}
.btn.btn-primary {
    color:white;
    font-size:17px;
}
.btn.btn-primary:hover {
    color:white;
}
a {
    text-decoration:none;
    cursor:pointer;
}
.card-header {
    background-color: #375372;
    color: white;
    padding: 10px 15px;
}

.form-control{
    font-size:20px;
}
div.dropdown-menu.dropdownsubintent {
position: inherit;
float: inherit;
/* top: 100%;
left: 0;
z-index: 1000;
display: none;
float: inherit;
min-width: 160px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: left;
list-style: none;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,.15);
border-radius: 4px;
box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
}
.badge {
    font-size: 17px;
    font-weight: 400; 
}

.collapsible-header {
    background-color: #7a99bc;
    color: white;
}

.main-collapsible-header {
    background-color: #375372;
    color: white;
}


@media (min-width: 300px) and (max-width: 1204px) {
.d-md-down-none{
  display: inline !important;
}
 }
@media (max-width: 1204px) and (min-width: 300px){
.btn[_ngcontent-c1] {
    font-size: 15px;
}
}
@media (min-width:  300px) and (max-width: 1204px) {
.card-group .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
    float: right;
}
}
@media screen and (max-width: 360px) {
    .button-text {
       font-size:7px;
    }
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.chat li.left .chat-body
{
    margin-left: 0px;
}
.chat li.right .chat-body
{
    margin-right: 60px;
}
.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}
.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.panel-body
{
    overflow-y: scroll;
    height: 500px;   
}
.panel-body.tablepanel {
  overflow-y: scroll;
    height: 170px;   
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.btn {
     line-height:0.5;
}
.addto {
    margin-left: 80%;
    margin-top: -5%;
}
.btn.btn-block {
    width:50%;
    padding:6px 1px;
    
}
.btn.btn-primary {
  font-size:18px;
    color:white;
background-color:#375372 ;
    padding: 12px 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}
.btn.btn-primary:hover {
    color:white;
}
.badge {
    padding:7px 15px;
        border-radius: 5px;
    margin-left: 1%;
}
a {
    text-decoration:none;
}
.badge.badge-pill {
    background-color:#375372;
}
.add {
   margin-top:2%;
   font-size: inherit;
   margin-left: 1%;
   background-color:#375372 ;
   border-color: #375372 ;

}
 #c_button {
    font-size: inherit;
}
#btn-chat {
    color: #fff;
    background-color: #fa9040;
    padding: 10px 7px;
    font-size: initial;
}
@media (min-width: 300px) and (max-width: 1204px) {
.d-md-down-none{
  display: inline !important;
}
 }
 @media (min-width: 300px) and (max-width: 1204px) {
 .btn{
      font-size: 0.820rem;
 }
}
@media (min-width:  300px) and (max-width: 1204px) {
.card-group .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
    float: right;
}
}
@media screen and (max-width: 360px) {
    .button-text {
       font-size:7px;
    }
}
.badge {
   padding:7px 15px;
}
.badge.badge-pill {
   margin-top:1.5%;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #375372;
    border-color: #375372;
}
.btn.btn-primary.pi-draggable.btn-block {
    color: #fff;
    background-color: #375372;
    border-color: #375372;
}
 .contextDropDownbtn
 {
 margin-bottom:2%;
 }
 .btn.btn-primary.add.deletebtn{
     padding: 12px 12px;
     margin-top: 0%;
     font-size: 17px;
 }
 .btn.btn-primary.add.editbtn{
     padding: 12px 12px;
     margin-top: 0%;
     font-size: 18px;
 }
 .btn.btn-primnary.deleteflowbtn {
   background-color: #375372 ;
   color: #fff;
   margin-left: 2%;
   padding: 12px;
   font-size:18px;

 }
 @media (min-width: 320px) and (max-width: 736px) {

.btn.btn-primary[_ngcontent-c8] {
    font-size: 15px;
    margin-left: 5%;
}
}
.inputtext{
  font-size:15px;
}
