.app {
   background-image: url("../../img/background.png");
}
.btn-primary {
	background-color: #375372;
	border-color: #375372;
}
.btn-link {
	text-decoration:none;
	color:#375372;
}

@media (min-width: 300px) and (max-width: 1204px) {
.d-md-down-none{
  display: inline !important;
}
 }
 @media (min-width: 300px) and (max-width: 1204px) {
 .btn{
      font-size: 0.820rem;
 }
}

@media (min-width:  300px) and (max-width: 1204px) {
.card-group .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
    float: right;
}
}
.form-control{
   font-size:17px;
}
.btn.btn-primary.px-4{
    font-size:18px;
}
.btn.btn-link.px-0{
    font-size:17px;
}
