<!-- start of the html file -->
<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <!-- heading --> 
              <h2>{{Config.forgotpassword.reset}}</h2>
              
              <div class="input-group mb-4">
               <!--  Enter email -->
               <span class="input-group-addon"><i class="icon-lock"></i></span>
               <input id="email" [(ngModel)]="email" name={Config.forgotpassword.email}} placeholder={{Config.forgotpassword.placeholder}} class="form-control myemail"  type={{Config.forgotpassword.email}} >
             </div>
             <!--  alert messages -->
             <div  *ngIf="alert==1" class="alert alert-danger" role="alert">
               <strong>{{Config.alert.warning}}</strong>{{Config.alert.message}}
             </div>
             <div class="row">
              <div class="col-md-6">
                <!-- Button -->
                <button type="button" id="forgot-btn" class="btn btn-primary px-4" (click)="forgotPassword(email)">{{Config.forgotpassword.mail}}</button>
              </div>
              <div class="col-md-6 text-right">
                <!-- button to go to login page -->
                <a [routerLink]="['/']" class="btn btn-link px-0" >{{Config.forgotpassword.GoTo}} &gt;&gt;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf = "flag==1"  class="alert alert-danger" role="alert">
        <strong>{{Config.forgotpassword.warning}}</strong> {{Config.forgotpassword.empty}}
      </div>
    </div>
  </div>
</div>
</div>
